<%= form_with(model: optional_holiday, local: true) do |form| %>
  <% if optional_holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(optional_holiday.errors.count, "error") %> prohibited this optional_holiday from being saved:</h2>

      <ul>
        <% optional_holiday.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :lock_version %>
    <%= form.number_field :lock_version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
