<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @adjustment.reason %>
</p>

<p>
  <strong>Value:</strong>
  <%= @adjustment.value %>
</p>

<%= link_to 'Edit', edit_adjustment_path(@adjustment) %> |
<%= link_to 'Back', adjustments_path %>
